<h3 class="ui header">{{t "forms.i-i-s-modul-ucheta-b-p-расчет-ост-врем-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.времяПоДоговору
      class=(if (v-get validationModel "времяПоДоговору" "isInvalid") "error")
      label=(t "forms.i-i-s-modul-ucheta-b-p-расчет-ост-врем-e.времяПоДоговору-caption")
      data-test-i-i-s-modul-ucheta-b-p-расчет-ост-врем-e-времяПоДоговору=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "времяПоДоговору" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.доступно
      class=(if (v-get validationModel "доступно" "isInvalid") "error")
      label=(t "forms.i-i-s-modul-ucheta-b-p-расчет-ост-врем-e.доступно-caption")
      data-test-i-i-s-modul-ucheta-b-p-расчет-ост-врем-e-доступно=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "доступно" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.использовано
      class=(if (v-get validationModel "использовано" "isInvalid") "error")
      label=(t "forms.i-i-s-modul-ucheta-b-p-расчет-ост-врем-e.использовано-caption")
      data-test-i-i-s-modul-ucheta-b-p-расчет-ост-врем-e-использовано=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "использовано" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-modul-ucheta-b-p-расчет-ост-врем-e.оказУсл-caption"}}</label>
    {{flexberry-groupedit
      componentName="оказУслGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.оказУсл
      content=model.оказУсл
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "оказУсл" "isInvalid") "error")
      data-test-i-i-s-modul-ucheta-b-p-расчет-ост-врем-e-оказУсл=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "оказУсл" "message")}}
  </div>
</form>
